/* Prefixed by https://autoprefixer.github.io
PostCSS: v8.4.14,
Autoprefixer: v10.4.7
Browsers: last 4 version */

.fixed-block {
    position: fixed;
    left: 0;
    top: 0;
    width: 320px;
    height: 100vh;
    box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
    background: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
    z-index: 9999;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/*HEADER*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 24px;
}

.header__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16.73px;
}

.round-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.header__close-btn {
    background: url(../images/burger.svg) no-repeat center;
}

.header__search-btn {
    background: url(../images/search.svg) no-repeat center;
}

/*NAVIGATION&FOOTER*/
.wrapper__wrap {
    padding: 46px 0 32px 24px;
    gap: 170px;
}

.nav {
    display: flex;
    flex-direction: column;
    height: 100%;

}

.nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav__item {
    position: relative;
    flex: 1;
}

.nav__link {
    display: block;
    text-decoration: none;
    color: rgb(27, 28, 33);
    padding: 8px 0;
    transition: transform 0.2s ease-in-out;
}

.nav__link:hover,
.nav__link:focus {
    color: rgb(27, 28, 33);
    transform: scale(1.1);
}

.nav__link--actived {
    color: rgb(126, 126, 130);
}

.nav__link--actived::before {
    content: "";
    position: absolute;
    background: rgb(65, 246, 215);
    width: 4px;
    height: 32px;
    margin-top: -16px;
    left: -24px;
    top: 50%;
    bottom: 50%;
    transform: rotate(180.00deg);
}

/*FOOTER*/
.menu {
    display: flex;
    justify-content: flex-start;
}

.menu__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 16px;
}

.menu__item {
    margin: 0;
    padding: 0;
}

.menu__link {
    text-decoration: none;
    color: rgb(27, 28, 33);
    display: inline-flex;
    align-items: center;
}

.menu__link--call.round-icon {
    background: url("../images/chat copy.svg") no-repeat center;
}

.menu__link--write.round-icon {
    background: url(../images/chat.svg) no-repeat center;
}

.menu__link--login.round-icon {
    background: url(../images/profile.svg) no-repeat center;
}

.contact-info__phone {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.6px;
}

.button-language,
.button-language:active,
.button-language:focus,
.button-language:hover {
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
}

.button-language--actived {
    color: rgb(126, 126, 130);
}

.language-selector {
    margin-top: 40px;
}

.button,
a {
    transition: all 0.2s ease-in-out;
}

.button:hover,
/*.nav__link:hover,*/
a:hover {
    transform: scale(1.2);
}
.button:hover,
a:hover{
    transform: scale(1.1);
    filter: saturate(200%) contrast(150%);
}

.nav__link--actived:hover, .button-language--actived:hover {
    transform: scale(1);
}
